body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cuerpo h1{
    border: 2px solid brown;
    border-radius: 10px;
    background-color: coral;
    
    

}